/* 
    Created on : Jun 22, 2016, 4:40:54 PM
    Author     : duc
*/

.white{
    color: white;
}

.mylabel{
    font-size: 150%
}

.ch-table td{
    text-align: center;
    vertical-align: middle;
}

.ch-box{
    border: 1px solid #dde2e4;
    margin-top: 15px;
}

.ch-box-inner{
    padding: 15px;
}

.left-col{
    float: left;
}

.big-col{
    width: 700px;
}

.right-col{
    float: right;
}

.ch-menu{
    padding: 0;
    margin: 0;
    
}

.ch-menu li{
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0.25em 0;
}

.ch-menu a, .ch-menu a:visited{
    display: block;
    width: 9em;
    border: 1px solid #dde2e4;
    font-family: arial, vernada, sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    padding: 0.25em;
}


.ch-menu a:hover{
    background: #ddd;
    color: black;
}

.ch-menu a span{
    display: none;
    
}

.ch-menu a:hover span{
    display: block;
    /*position: absolute;
    left: 10em;
    top: 0;
    text-align: left;
    padding: 0.5em;
    width: 24em;
    background-color: #eee;
    color: #000;*/
    border: 1px solid #808;
}

